[submodule "apps/core"]
	path = apps/core
	url = git@github.com:shokdot/core.git
[submodule "apps/auth-service"]
	path = apps/auth-service
	url = git@github.com:shokdot/auth-service.git
[submodule "apps/user-service"]
	path = apps/user-service
	url = git@github.com:shokdot/user-service.git
[submodule "apps/notification-service"]
	path = apps/notification-service
	url = git@github.com:shokdot/notification-service.git
[submodule "apps/game-service"]
	path = apps/game-service
	url = git@github.com:shokdot/game-service.git
[submodule "apps/frontend"]
	path = apps/frontend
	url = https://github.com/shokdot/frontend.git
[submodule "apps/room-service"]
	path = apps/room-service
	url = git@github.com:shokdot/room-service.git
[submodule "apps/stats-service"]
	path = apps/stats-service
	url = https://github.com/shokdot/stats-service
