services:
  auth-service:
    container_name: auth_service_dev
    build:
      context: ./apps
      dockerfile: auth-service/Dockerfile.dev
    env_file:
      - .env
    volumes:
      - ./apps/auth-service/src:/apps/auth-service/src
      - ./apps/auth-service/data:/apps/auth-service/data
    ports:
      - "3000:3000"
      - "5000:5555"
    depends_on:
      - user-service
    networks:
      - transcendence
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
  user-service:
    container_name: user_service_dev
    build:
      context: ./apps
      dockerfile: user-service/Dockerfile.dev
    env_file:
      - .env
    volumes:
      - ./apps/user-service/src:/apps/user-service/src
      - ./apps/user-service/data:/apps/user-service/data
    ports:
      - "3001:3001"
      - "5001:5555"
    networks:
      - transcendence
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
  notification-service:
    container_name: notification_service_dev
    build:
      context: ./apps
      dockerfile: notification-service/Dockerfile.dev
    env_file:
      - .env
    volumes:
      - ./apps/notification-service/src:/apps/notification-service/src
      - ./apps/notification-service/data:/apps/notification-service/data
    ports:
      - "3002:3002"
      - "5002:5555"
    depends_on:
      - user-service
    networks:
      - transcendence
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
  game-service:
    container_name: game_service_dev
    build:
      context: ./apps
      dockerfile: game-service/Dockerfile.dev
    env_file:
      - .env
    volumes:
      - ./apps/game-service/src:/apps/game-service/src
    ports:
      - "3003:3003"
    depends_on:
      - room-service
      - user-service
    networks:
      - transcendence
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
  room-service:
    container_name: room_service_dev
    build:
      context: ./apps
      dockerfile: room-service/Dockerfile.dev
    env_file:
      - .env
    volumes:
      - ./apps/room-service/src:/apps/room-service/src
    ports:
      - "3004:3004"
    depends_on:
      - notification-service
    networks:
      - transcendence
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
  stats-service:
    container_name: stats_service_dev
    build:
      context: ./apps
      dockerfile: stats-service/Dockerfile.dev
    env_file:
      - .env
    volumes:
      - ./apps/stats-service/src:/apps/stats-service/src
      - ./apps/stats-service/data:/apps/stats-service/data
    ports:
      - "3005:3005"
      - "5005:5555"
    depends_on:
      - room-service
    networks:
      - transcendence
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
  chat-service:
    container_name: chat_service_dev
    build:
      context: ./apps
      dockerfile: chat-service/Dockerfile.dev
    env_file:
      - .env
    volumes:
      - ./apps/chat-service/src:/apps/chat-service/src
      - ./apps/chat-service/data:/apps/chat-service/data
    ports:
      - "3006:3006"
      - "5006:5555"
    depends_on:
      - room-service
    networks:
      - transcendence
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true

networks:
  transcendence:
    driver: bridge
